{% extends "blog/base.html"%}
{%load crispy_forms_tags%}
{% block content%}
  <div class="content-section">
  	<form method="POST">
<!--csrf token to ensure security in form to protect it from attacks -->
       {% csrf_token%}
       <fieldset class="form-group">
       	 <legend class="border-bottom mb-4">Login</legend>
       	 {{ form|crispy  }}
       	</fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
        <div class="border-top pt-3">
            <a href="{%url 'register'%}">Need  account Signin </a>
        </div>
        <div class="border-top pt-3">
          <a href="{%url 'password_reset'%}">Reset Password </a>
      </div>
      
  		
  	</form>
  </div>

{%endblock content%}