
{% extends "blog/base.html"%}
{%load static %}
<!--
<div class="bg-image img-fluid d-flex justify-content-center align-items-center "

style="background-image: url({% static 'user/background.jpg'%}); height: 500vh"></div>
-->
{%load crispy_forms_tags%}
{% block content%}
  <div class="content-section" >
  	<form method="POST">
  		<!-- csrf token to ensure security in form to protect it from attacks -->
       {% csrf_token%}
       <fieldset class="form-group">
       	 <legend class="border-bottom mb-4">SignUp</legend>
       	 {{ form|crispy  }}
       	</fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Signup</button>
        </div>
        <div class="border-top pt-3">
            <a href="{%url 'login'%}">Already have accoutn Signin </a>
        </div>


  		
  	</form>
  </div>

{%endblock content%}